* {
    outline: none;
    transition: all 0.5s;
}


.button{
    padding: 20px 70px;
    margin-top: 70px;
}

.text-box {
    margin: 10px;
}

.todo-container {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 10px 20px;

  .todo {
    background-color: white;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px;
  }
}